{% extends 'base.html' %}

{% block title %}
Все статьи
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Все статьи на сайте</h1>

    {% if articles|length > 0 %}
        {% for element in articles %}
        <div class="alert alert-info">
            <h2>{{ element.title }}</h2>
            <p>{{ element.intro }}</p>
            <p>Дата: {{ element.date.date() }}</p>
            <a href="/posts/{{ element.id }}" class="">Детали</a>
        </div>
        {% endfor %}
    {% else %}
        <h2>Скоро статьи появятся на сайте...</h2>
    {% endif %}
</div>
{% endblock %}